/* nave section */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    
}
.faugy{
  /*  margin-top: 24px;
    margin-left: 100px;*/
    
    width: 135px;
    height: 82px;
}
nav ul li{
    list-style: none;
   /* margin-right:40px ;*/
    
}
nav ul a{
    text-decoration: none;
    font-size: 16px;

}
nav ul{
    display: flex;
    /*gap: 28px;*/
    align-items: center;
    
}
.home{
    color: rgba(37, 36, 50, 1);
    font-size: 16px;
    font-weight: 500;

}
.shop{
    color: rgba(137, 135, 161, 1);
    font-size: 16px;
}
.shopping-cart{
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    
}
.fa-cart-shopping{
    color: transparent;
     -webkit-text-stroke: 1.5px black;
}
.nav-links{
   /* margin-top: 53px;
    margin-right: 40px;
    /*margin-left: 500px;*/
    display: flex;
    align-items: center;
    gap: 40px;

    
}
/*hero section*/
.always-fresh{
    display: flex;
    justify-content: space-between;
    
    
}
.container{
    margin:220px 0px 120px 100px;
    
    width: 570px;
    height: 299px;
}
.font-22{
    font-size: 22px;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}
.black{
    color: rgba(0, 0, 0, 1);
    font-size:55px ;
    font-weight: bold;
}
.orange{
    color: rgba(233, 90, 8, 1);
    font-size: 55px;
    font-weight: bold;
}
.flower{
    margin: 140px 100px 0px 0px;
    
}
/*our plant section */
.plant-section{
    text-align: center;
    max-width: 1200px;

   /* width: 1140px;
    height: 1100px;*/
    margin: 110px auto;
    padding: 0px 40px;
    
    
}
.our{
        color: rgba(233, 90, 8, 1);
        font-weight: bold;
        font-size:40px ;
}
.plant{
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: bold;
} 
/* card section */
.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
   /* margin-right: 100px;*/
    gap: 40px;
    margin-top: 50px;
}
.cart{
    width: 260px;
    height: auto;
    padding: 10px 0px;
    
    
    
    /*margin:49px 100px 20px 100px;*/
    
     
    
}
.sample{
    width: 100%;

}
.life{
    font-weight: 400;
    font-size: 18px;
    color: rgba(17, 17, 17, 1);
    margin:25px 0px 5px 0px;
    
    
}


.usd{
    color: rgba(17, 17, 17, 1);
    font-weight: bold;
    font-size: 18px;

    

    
}

.button{
    background-color: rgba(233, 90, 8, 1);
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
   margin-top: 20px;

}
/* flower plant lover section */
.plants-lover{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px ;
    width: 100%;
    max-width: 1400px;
    
    
    

}

    

.plant-img{
    position: relative;
    margin-top: 120px;
    
    margin-left: 100px;
    
    

}
.flower-h1{
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;

}
.li{
    font-size: 22px;
    font-weight:400 ;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
}
.lower-store{
    width: 540px;
    height: 597px;
    

    
}
.badge{
    position: absolute;
    top: -125px;
    right: -100px;
    width: 286px;
    height: 286px;
    z-index: 90;
    
}
.text-container{
    margin-right: 100px;
    max-width: 500px;
    margin-top: 130px;


    
    
    
    

    
}
.beauty{
    text-align: left;
    font-size: 22px;
    
}
/*Latest Deals section */
.latest-deals{
    text-align: center;
    margin:  120px ;
}
.Latest{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
    

}
.latest-span{
    color: rgba(233, 90, 8, 1);
}
.Deals{
    color: rgba(0, 0, 0, 1);
    
}
/* offer-section */
.offer-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
    

}
.offer-left{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-left: 100px;

    

    
    
}
/*small card (left)*/
.Bloom-plant,.Ana-plant{
    content: "";
   
    width: 367px;
    height: 193px;
    background-size: cover;
    padding: 25px;
    border-radius: 14px;
    color: rgba(200, 200, 200, 1);
    text-align: center;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.4);

    
    
    
    

    
    
}
/*Big right card*/
.zabo-plant{
    width: 753px;
    height: 423px;
    background-size: cover;
    padding: 40px;
    border-radius: 14px;
    color:rgba(200, 200, 200, 1);
    margin-right: 100px;
    text-align: center;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.4);

     

    
    
}

    
    

    
    


/* Text inside card*/
.Bloom-plant h2,
.Ana-plant h2{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 65px 50px 15px 49px;
    color: rgba(255, 255, 255, 1);


} 
.Bloom-plant a,
.Ana-plant a{
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin: 0px 66px 60px 66px;
    color: rgba(255, 255, 255, 1);
 

}
.zabo-plant h2{
    font-size:40px ;
    font-weight:bold ;
    text-shadow: 1px 1px  4px rgba(0, 0, 0, 0.4);
    margin: 172px 127px 15px 128px;
    color: rgba(255, 255, 255, 1);
}
.zabo-plant a{
    font-size:28px ;
    font-weight:600 ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    margin: 0px 241px 151px 242px;
}
/*subscribe-section*/
.Subscribe-Section{
    width: 100%;
    height: 423px;
    background-size: cover;
    padding: 40px;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    text-align: center;
    margin-top: 120px;
    

}

.Subscribe-Section h1{
    margin: 199px 427px 23px 427px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 50px;
    
}
.subscribe-box{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    
}
.Subscribe-Section input{
    flex: 1;
    width: 644px;
    height: 55px;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    line-height: 55px;
    box-sizing: border-box;
}
.Subscribe-Section button{
    width: 186px;
    height: 55px;
    background-color: rgba(233, 90, 8, 1);
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 25px;
    
}


/*footer-section*/
.footer{
    width: 100%;
    display: flex;
    
    align-items: flex-start;
    padding: 40px  ;
    

}
.footer-links{
    display: flex;
    gap: 110px;
    margin:40px 110px 40px 0px;
}
.footer-left{
    margin: 40px 115px 40px 100px;
    
}
.footer-left p{
    font-size: 22px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.5) ;
    margin-top: 16px;

}
.col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.col-p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    
    
}
.footer-icons{
    display: flex;
    gap: 24px;
   /* align-items: flex-start;*/
    margin: 40px 100px 40px 115px;
}
.link{
    width: 36px;
    height: 36px;
}
@media (max-width:576px){
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px 0px 16px;
        width: 100%;

    }
    .faugy{
        width: 50px;
    }
    nav ul,
    .home,
    .shop{
        display: none;
    }
    .shopping-cart{
        display: flex;
        font-size: 16px;
        font-weight:500 ;
        gap: 8px;
    }
    .nav-links{
        margin: 45px 16px 0px 0px;

    }
    /* hero section */
    .always-fresh{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        
        
    }
    .flower{
        width: 100%;
        display: block;
        margin: 15px 0px 15px 0px;


    }
    .container{
        margin: 0px 16px 0px 16px;
        text-align: left;

    }
    .black,
    .orange{
        font-size: 24px;
        font-weight: bold;
    }
    .always-fresh p{
        font-size: 14px;
        font-weight: 500;
    }
    /* our plant section */
    .plant-section{
        padding: 0px 16px;
        margin-top: 15px;
    }
    .our,
    .plant{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    .plant-section p{
        font-size: 14px;
        font-weight: 500;
        align-items: center;

    }
    .product-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
    }
    .cart{
        width: 100%;

    }
    .sample{
        width: 100%;

    }
    .life{
        font-size: 16px;
        font-weight: bold;
    }
    .usd{
        font-size: 16px;
        font-weight: bold;
    }
    .button{
        width: 100%;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
    }
    /*flower $ plant lovers */
     .plants-lover{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0px 5px;
        
    
    }

    .plant-img{
        width: 100%;
        margin: 10px 0px 0px 0px;
        
        
    }
    .flower-store{
        width: 100%;
        display: block;
        height: auto;
        

    }
    .badge{
        display: none;
    }
    .text-container{
        margin: 10px 16px 0px 16px;
    }
    



    .flower-h1{
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        
        
    }
    .flower-h1 br{
        display: none;

    }
    
    .beauty li{
        font-size: 14px;
        font-weight: 500;
        gap: 16px;
    }
    .li{
        gap: 16px;
    }
    /* Latest Deals */
    .latest-deals{
        text-align: center;
        align-items: center;
        display: inline;
        padding: 0px 16px;
        margin-top: 30px;
    }
    .Latest{
        font-size: 24px;
        font-weight: bold;
        
    }
    
        
    .latest-deals p{
        font-size: 14px;
        font-weight: 500;
    }
    .offer-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 4px;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        
        
        
        

    }
    .offer-left{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 16px 0px 16px;

        
    

        
        
    }
    .Bloom-plant,.Ana-plant{
        width: 90%;
        margin: 0px 16px 0px 16px;
        display: block;
        text-align: center;
        gap: 10px;
        background-size: cover;
        background-position: center;




    }
    .zabo-plant{
        width: 75%;
        height: 197px;
        display: block;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin: 0px 16px 0px 16px;


    }




    .Bloom-plant h2,.Ana-plant h2{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        
    }
    .Bloom-plant a, .Ana-plant a{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        
    }
    .zabo-plant h2{
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        margin: 60px 20px 26px 21px;

        
        
        
    }
    .zabo-plant a{
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        margin: 0px 30px 0px 31px;
        
    }
    /* Subscribe-Section */
    .section-3{
        width: 100%;
    }

    .Subscribe-Section{
        width: 100%;
        height: 275px;
        display: block ;
        background-size: cover;
        background-position: center;
        margin-top: 44px;
    }
    .Subscribe-Section h1{
        font-size: 20px;
        font-weight: bold;
        margin: 100px 70px 0px 70px;
        text-align: center;
    }
    .subscribe-box{
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: 300px;
        height: 50px;
        margin: 23px 25px 0px 25px;

    }
    .Subscribe-Section input{
        width: 192px;
        font-size: 16px;
        font-weight: 500;

    }
    .Subscribe-Section button{
        width: 108px;
        font-size: 16px;
        font-weight: 600;
    }
    /*foote section */
    .footer{
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        
        width: 393px;
        height: 1000px;

    }
    .footer-left{
        margin: 50px 0px 0px 20px;
        text-align: left;

    }
    .footer-left img{
        width: 180px;
        height: 109px;
    }
    .footer-left p{
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        align-items: left;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0px 20px;
        gap: 20px;


    }
    .col{
        
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .col-p{
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        align-items: left;
    }
    .footer-icons{
        display: flex;
        gap: 15px;
        margin: 20px 0px 50px 20px;
        align-items: left;
    }
    .link{
        width: 30px;
        height: 30px;

    }





    

}